[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"

[packages]
django = "*"
ipython = "*"
celery = "*"
redis = "*"
spleeter = "*"
youtube-dl = "*"
django-cleanup = "*"

[requires]
python_version = "3.7"
